<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="theme-color" media="(prefers-color-scheme: dark)"  content="#1a1a1f" />
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#f8f8f8" />
<meta name="color-scheme" content="light dark">
<meta property="og:title"        content="Ergo‑L">
<meta property="og:type"         content="website">
<meta property="og:url"          content="https://ergol.org">
<meta property="og:image"        content="{{ absURL "ergol.png" }}">
<meta property="og:image:type"   content="image/png">
<meta property="og:image:width"  content="960">
<meta property="og:image:height" content="360">
<meta property="og:description"  content="{{ .Site.Params.description }}">
<link type="image/svg+xml"       rel="icon"    href="{{ absURL "favicon.svg" }}"        sizes="any">
<link type="application/rss+xml" rel=alternate href="{{ absURL "articles/index.xml" }}" title="Ergo‑L">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap">

<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

<link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">

{{ partial "head/js.html" . }}
{{ partial "head/css.html" . }}
