.keyboard { margin-bottom: 2.5em; }
.keyboard p { margin: 0; }

.keyboard nav {
  text-align: center;
  margin: 0.7em auto;
}

.keyboard nav a,
.keyboard nav button {
  display: inline-block;
  box-sizing: border-box;
  margin: 1px;
  padding: 0 6px;
  font-size: 1em;
  height: 2.3em;
  line-height: 2.3em;
  font-family: sans-serif;

  background-color: var(--bg-key);
  border: 1px solid #6668;
  border-radius: 5px;
}

.keyboard nav button {
  font-weight: bold;
  cursor: pointer;
  color: var(--fg-main);
}

.keyboard [disabled] {
  pointer-events: none;
  opacity: 0.3;
}

.keyboard dialog {
  max-width: 70em;
  width: 100%;
  padding: 2em;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--bg-main);
  border: 5px solid var(--bg-banner);
}

.keyboard input {
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.keyboard p {
  margin: 0 0 1em;
  text-align: right;
}

.keyboard p span {
  float: left;
  font-size: smaller;
}

.geometry {
  position: relative;
  /* float: right; */
  background-color: var(--bg-banner);
  padding: 2px;
  border-radius: 3px;
  /* box-shadow: inset 0 0 0 3px rgba(35,   33,  45, 0.3), */
  /*                   0 0 0 3px rgba(185, 185, 185, 0.3); */
}

.geometry input {
  width: auto;
  height: 100%;
  appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 2px 8px;
  margin: 0;
  /* background: var(--bg-banner); */
  /* color: #bdbdbdbd; */
  background-color: var(--bg-key);
  color: #fff6;
  font-size: 1em;
  transition: all 100ms linear;
}

.geometry input:checked {
  /* background-image: linear-gradient(180deg, #95d891, #74bbad); */
  background-color: var(--bg-accent);
  color: #fff;
  /* box-shadow: 0 1px 1px #0000002e; */
  /* text-shadow: 0 1px 0px #79485f7a; */
}

.geometry input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}
