/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                         Color Palette                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

/* Base color palette -- https://coolors.co/9cf6f6-f3c98b-daa588-c46d5e-f56960 */
:root {
  --color-palette-a: #9CF6F6;
  --color-palette-b: #F3C98B;
  --color-palette-c: #DAA588;
  --color-palette-d: #C46D5E;
  --color-palette-e: #F56960;
}

/* Derived color palette -- when lighter or darker shades are required */
:root {
  --color-palette-a-light: #DAFCFC;
  --color-palette-b-light: #FBEEDA;
  --color-palette-c-light: #F5E7E0;
  --color-palette-d-light: #EED7D2;
  --color-palette-e-light: #FBC9C5;
  
  --color-palette-a-dark: #0E9595;
  --color-palette-b-dark: #CB8215;
  --color-palette-c-dark: #9C5630;
  --color-palette-d-dark: #77372C;
  --color-palette-e-dark: #99130A;
}

/* Keycap color palette -- for generating realistic keycaps */
:root {
  --keycap-color-a: #282828;
  --keycap-color-b: #202020;
  --keycap-color-c: #232323;
  --keycap-color-d: #4a4a4a;
  --keycap-color-e: #0009;
  --keycap-color-f: #0004;
  --keycap-color-i: rgba(255, 255, 255, 1.0);
  --keycap-bs-1: rgba(0, 0, 0, 0.15);
  --keycap-bs-2: rgba(0, 0, 0, 0.25);
  --keycap-bs-3: rgba(0, 0, 0, 0.75);
  --keycap-bs-4: rgba(0, 0, 0, 0.25);
}


:root {
  color-scheme: light dark;

  /* <html|body|main> background and text colors */
  --bg-root:          white;
  --bg-main:          white;
  --bg-main-shadow:   white;
  --fg-main-border:   white;
  --fg-main:          #222;
  --fg-disabled:      #999;

  /* banner -- the foreground matches the favicon #rocket color */
  --bg-banner:        white;
  --fg-banner-border: #eee;
  --fg-banner:        #222;

  /* <h2|a|code> and specific emphasis */
  --bg-accent:        var(--color-palette-d-light);
  --fg-accent-border: var(--color-palette-d);
  --fg-accent:        var(--color-palette-d);

  /* <kbd> and special inline content */
  --key-bg:              #6a6a6a;
  --key-bg-gradient:     #282828;
  --key-border:          #202020;
  --key-border-gradient: #232323;
  --key-fg:              rgba(255, 255, 255, 0.85);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* <html|body|main> background and text colors */
    --bg-root:          #222;
    --bg-main:          #222;
    --bg-main-shadow:   #222;
    --fg-main-border:   #222;
    --fg-main:          #eee;
    --fg-disabled:      #666;

    /* banner -- the foreground DOES NOT matches the favicon #rocket color */
    --bg-banner:        #222;
    --fg-banner-border: #444;
    --fg-banner:        #eee;

    /* <h2|a|code> and specific emphasis */
    --bg-accent:        var(--color-palette-d-dark);

    /* <kbd> and special inline content */
    --key-bg:              #dfdfdf;
    --key-bg-gradient:     #dcdcdc;
    --key-border:          #959595;
    --key-border-gradient: #d7d7d7;
    --key-fg:              rgba(0, 0, 0, 0.85);
  }
}

/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                             Fonts                             │
 * ╰───────────────────────────────────────────────────────────────╯
**/
:root {
  --main-font-family: sans-serif;
  --code-font-family: sans-serif;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Main Layout                          │
 * ╰───────────────────────────────────────────────────────────────╯
**/

:root {
  --main-padding: 12px;
  --list-indent: 1.5em;
}

html {
  height: 100%;
  width:  100%;
  font-family: var(--main-font-family);
  background-color: var(--bg-root);
  /* scroll-behavior: smooth; */
}

.quack {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='1em' font-size='5rem'>🦆</text></svg>");
  background-repeat: repeat;
  background-size: 10rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 60em;
  min-height: 100%;

  line-height: 1.4em;
  border-left:  1px solid var(--fg-main-border);
  border-right: 1px solid var(--fg-main-border);
  box-shadow: 0px 1px 10px var(--bg-main-shadow);
  background-color: var(--bg-main);
  color: var(--fg-main);
}

main {
  display: block; /* enable 'flex' here on a per-page basis */
  flex: fit-content;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 var(--main-padding);
}

h2 {
  color: var(--fg-accent);
  border-bottom: 1px inset var(--fg-accent-border);
}

h3 {
  border-bottom: 1px dotted;
}

h2, h3, footer {
  margin-top: 2em;
}

.author {
  margin-top: -1em;
  text-align: right;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

.highlight {
  max-width: 42em;
  margin: auto;
  padding: 1em;
  background-color: var(--bg-banner);
}

sup { /* match the <body> 1.4em line-height */
  vertical-align: super;
  line-height: 0.4em;
}

ol, ul {
  padding-left: var(--list-indent);
  margin-left: 0;
}

.dialog > ul {
  list-style-type: "— ";
  padding-left: 2ch;
}

dd {
  margin-left: var(--list-indent);
  padding-left: 0;
}

dd,
dt {
  margin-bottom: 0.5em;
}

li,
dd p {
  margin: 0.2em 0;
}

a[href] {
  color: var(--fg-accent);
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

.ext a::after {
  display: inline-block;
  /* XXX for some reason, stroke='currentcolor' does not work here */
  content: url("data:image/svg+xml,<svg stroke='rgb(205,103,52)' fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M10 6H6C4.89543 6 4 6.89543 4 8V18C4 19.1046 4.89543 20 6 20H16C17.1046 20 18 19.1046 18 18V14M14 4H20M20 4V10M20 4L10 14' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  width: 1.1em;
  height: 1.1em;
  margin-left: .25em;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │            Figures, Tables, Code Blocks, Quotations           │
 * ╰───────────────────────────────────────────────────────────────╯
**/

table {
  width: 100%;
}

th, td {
  padding: 0.2em 0.5em;
}

table caption {
  caption-side: bottom;
}

figure {
  margin: 2em 0;
  text-align: center;
}

pre {
  overflow: scroll;
  background-color: var(--bg-banner);
  padding: 0.5em 1em;
}

pre code {
  background-color: transparent;
  font-family: monospace;
  font-weight: normal;
  padding: 0;
}

figure figcaption,
figure img {
  margin: auto;
  max-width: 100%;
}

img {
  max-width: 100%;
}

blockquote,
blockquote + p {
  margin: 0 auto;
  padding: .5em 2em .5em 3em;
  box-sizing: border-box;
  position: relative;
}

blockquote::before {
  content: "»";
  font-size: 2em;
  position: absolute;
  top: 0.25em;
  left: 0.5em;
}

blockquote p {
  margin: 0;
}

blockquote p + p {
  margin-top: 0.5em;
}

blockquote + p {
  text-align: right;
  padding: 0 2em;
}

blockquote + hr {
  display: none;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                        Header & Footer                        │
 * ╰───────────────────────────────────────────────────────────────╯
**/

#banner {
  min-height: 50px;
  box-sizing: border-box;
  background: left var(--main-padding) center no-repeat url(../favicon.svg);
  background-size: 50px;
  background-color: var(--bg-banner);
  padding: .5em 0 0.5em calc(var(--main-padding) + 64px);
  border-bottom: 1px solid var(--fg-banner-border);
}

#banner p.title {
  font-size: 2em;
  font-weight: bold;
}

#banner p {
  margin: 0.4em 0 0;
}

#banner,
#banner a,
footer {
  color: var(--fg-banner);
}

footer {
  padding-left:  var(--main-padding);
  padding-right: var(--main-padding);
  border-top: 1px solid var(--fg-banner-border);
  text-align: right;
}

h1 {
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  margin: 1.8em auto 0.5em;
}

h1 + time {
  display: block;
  text-align: right;
  margin: -1.5em auto 0;
}

h1 + p {
  text-align: center;
  text-wrap: balance;
  margin: -1em auto 2em;
}

footer {
  padding-bottom: 0.5rem;
}

footer small {
  float: left;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                        Navigation Menus                       │
 * ╰───────────────────────────────────────────────────────────────╯
**/

header + nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0 var(--main-padding);
  margin: 0;
  background-color: var(--bg-main);
}

header + nav a {
  display: inline-block;
  padding: 0.2em 1em;
}

header + nav li {
  padding: 0;
  margin: 0;
}

header + nav li:has(.active) a {
  background-color: var(--bg-main);
  color: var(--fg-banner);
}

/* submenus */
header + nav ul ul {
  display: none;
}

@media only screen and (min-width: 480px) {
  header + nav {
    position: sticky;
    z-index: 10;
    top: 0;
  }
}

/* keyboard layout selection */
#layout option:disabled {
  color: var(--fg-accent);
  font-size: 1.2em;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Link Icons                           │
 * ╰───────────────────────────────────────────────────────────────╯
**/

.icon::after {
  content: "";
  display: inline-block;
  background-size: contain;
  background-color: currentColor;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: .2em;
  height: 1.25em;
  width: 1.25em;
}

.icon-rss::after { /* https://boxicons.com */
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z'/><path d='M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z'/><circle cx='6' cy='18' r='2'/></svg>");
}

.icon-ext::after { /* https://boxicons.com */
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z'/><path d='M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z'/></svg>");
}

.icon-talk::after { /* https://boxicons.com */
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M20 3H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h7v3H8v2h8v-2h-3v-3h7c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM4 15V5h16l.001 10H4z'/><path d='m10 13 5-3-5-3z'/></svg>");
}

.icon-video::after { /* https://boxicons.com */
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M18 7c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-3.333L22 17V7l-4 3.333V7zm-1.998 10H4V7h12l.001 4.999L16 12l.001.001.001 4.999z'/></svg>");
}

.icon-article::after { /* https://boxicons.com */
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M19.875 3H4.125C2.953 3 2 3.897 2 5v14c0 1.103.953 2 2.125 2h15.75C21.047 21 22 20.103 22 19V5c0-1.103-.953-2-2.125-2zm0 16H4.125c-.057 0-.096-.016-.113-.016-.007 0-.011.002-.012.008L3.988 5.046c.007-.01.052-.046.137-.046h15.75c.079.001.122.028.125.008l.012 13.946c-.007.01-.052.046-.137.046z'/><path d='M6 7h6v6H6zm7 8H6v2h12v-2h-4zm1-4h4v2h-4zm0-4h4v2h-4z'/></svg>");
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Keys & Chars                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

kbd,
span.odk {
  /* Match the page defaults in light mode but switch to a light-ish grey in dark mode */
  background: linear-gradient(90deg, var(--key-bg), var(--key-bg-gradient));
  /* background-color: white; */
  color: var(--key-fg);

  /* Round off the corners like physical keys have */
  border-radius: 0.25rem;

  /* Add a simple border */
  border: 1px solid var(--key-border);

  /* A sharp shadow (with no blur) really gives the old school keyboard look */
  box-shadow: 0 2px 0 1px var(--key-border);
  /* Remove the text cursor — totally optional but I wanted it for my hover effect */
  cursor: default;
  font-family: var(--code-font-family);
  font-size: 0.8em;
  /* Remove any extra space so I can accurately tweak the padding */
  line-height: 1;

  /* Make narrow numbers and letters look less odd */
  min-width: 0.8rem;
  /* `min-width` doesn’t work on inline elements */
  display: inline-block;
  /* Keep the characters centred when narrower than the `max-width` */
  text-align: center;

  /* Seemed to look more key-like with more horizontal padding 🤷 */
  padding: 3px 5px 2px 5px;
  margin: 0 0.2em 0 0.2em;

  /* These two lines pull the whole element up now that they’re bottom-heavy due to the `box-shadow`. This looks better against the cap height of regular paragraph text. */
  position: relative;
  top: -1.5px;

  /* This is my favourite part of the whole thing. The key gets “pushed” down and the shadow gets reduced so it looks like it might when typing on a physical keyboard. */
  &:hover {
      box-shadow: 0 1.5px 0 0.5px linear-gradient(0deg, var(--key-border), var(--key-border-gradient));
      top: 1px;
  }
}
  

code { /* character, digrams, trigrams */
  font-weight: bold;
  font-family: var(--code-font-family);
  background-color: var(--bg-accent);
  padding: 2px 4px;
  border-radius: 0.25em;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Desktop Mode                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

@media only screen and (min-width: 768px) {
  :root {
    --main-padding: 40px;
    --list-indent: 2.5em;
  }
  .highlight {
    border-radius: 6px;
  }

  /* tab-like navigation bar */
  header + nav ul {
    justify-content: flex-start;
    background-color: var(--bg-banner);
  }

  /* display navigation submenus, not sure it s a good idea though */
  header + nav li:has(.active) ul {
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 var(--main-padding);
    box-sizing: border-box;
    background-color: var(--bg-main);
  }
  header + nav li:has(.active) li {
    border: none;
    font-size: smaller;
  }
  header + nav li:has(.active) a {
    color: var(--fg-accent);
  }
  header + nav li:has(.active) a.active {
    color: var(--fg-banner);
  }

  figure figcaption,
  figure img {
    max-width: 45em;
  }
}
