{{- $src := .Get "src" -}}
{{- $svg := resources.Get (printf "keymaps/%s.svg" $src)
  | resources.ExecuteAsTemplate (printf "img/%s.svg" $src) (dict
    "style" (resources.Get "keymaps/style.css").Content
    "theme" (resources.Get "keymaps/theme.css").Content
    "kb4x6" (resources.Get "keymaps/4x6.css"  ).Content
    "kb3x6" (resources.Get "keymaps/3x6.css"  ).Content
    "kb3x5" (resources.Get "keymaps/3x5.css"  ).Content
    "ortho" (resources.Get "keymaps/ortho.css").Content
    "keys"  (resources.Get "keymaps/_keys.svg").Content
    "defs"  (resources.Get "keymaps/_defs.svg").Content
  ) -}}

{{ if len .Inner }}
  <figure>
    <img src="{{ $svg.RelPermalink }}" alt="{{ .Get "alt" }}">
    <figcaption aria-hidden="true">{{ .Inner }}</figcaption>
  </figure>
{{ else }}
  <img src="{{ $svg.RelPermalink }}" alt="{{ .Get "alt" }}">
{{ end }}
