{{ $default_layout := "ergol" }}
{{ $layouts := dict
  "en" (dict
  "colemak"     			"Colemak"
  "colemak-dh"  			"Colemak-DH"
  "dvorak"      			"Dvorak"
  "ISRT"        			"ISRT"
  "MTGAP"       			"MTGAP"
  "qwerty"      			"Qwerty"
  "sturdy"      			"Sturdy"
  "workman"     			"Workman"
  )

  "fr" (dict
  "bepolar"     			"Bépolar"
  "colemak-french-touch" 	"Colemak French Touch"
  "ergol"       			"Ergo‑L"
  "erglace"     			"Erglace"
  "lafayette"   			"Lafayette"
  )

  "fr.contrib" (dict
    "azerty"      			"Azerty"
    "beopy_1dfh"  			"Béopy 1DFH"
    "bepo"        			"Bépo"
    "hypertexte"  			"HyperTexte"
    "hypertexte_1dfh"  		"HyperTexte 1DFH"
  )

  "fr.nonfree" (dict
    "optimot"      			"Optimot"
  )
}}

<select id="layout">
	{{ range $language, $layouts_language := $layouts }}
	  <option disabled> [{{ $language }}] </option>
	  {{ range $layout, $layout_displayed_name := $layouts_language }}
		{{ $json_name := printf "%s/%s" $language $layout }}
		{{ if eq $default_layout $layout }}
		  <option value="{{ $json_name }}" selected> {{ $layout_displayed_name }} </option>
		{{ else }}
		  <option value="{{ $json_name }}"> {{ $layout_displayed_name }} </option>
		{{ end }}
	  {{ end }}
	{{ end }}
  </select>
