{{ define "main" }}
  {{ .Content }}
  {{ if not .Params.hideSummaryOfChildPages }}
    {{ range sort .Pages "Date" "desc" }}
      <article>
        {{ $link := or .Params.redirect_to .RelPermalink }}
        <header>
          <h2><a href="{{ $link }}">{{ .LinkTitle }}</a></h2>
          <p style="text-align: right;">
          <a href="{{ $author.url }}">{{ $author.name }}</a>
          </p>
          <time>{{ time.Format ":date_medium" .Date }}</time>
        </header>
        {{ .Summary }}
        {{ if not .Params.redirect_to}
          <nav class="more"><a href="{{ $link }}">Lire la suite…</a></nav>
        {{ end }}
      </article>
    {{ end }}
  {{ end }}
{{ end }}
