/* 3x5 geometry (Ferris-liks) */

#left  { transform: translate(  4px, 10px); }
#right { transform: translate(480px, 10px); }

/* column stagger */

.col_1 { transform: translate( 60px, 71.25px); }
.col_2 { transform: translate(120px, 26.25px); }
.col_3 { transform: translate(180px,     0px); }
.col_4 { transform: translate(240px, 20.00px); }
.col_5 { transform: translate(300px, 27.50px); }

.col_6 { transform: translate(  0px, 27.50px); }
.col_7 { transform: translate( 60px, 20.00px); }
.col_8 { transform: translate(120px,     0px); }
.col_9 { transform: translate(180px, 26.25px); }
.col_0 { transform: translate(240px, 71.25px); }

/* XXX these thumb clusters have been positioned with magic numbers */

.thb_4 { transform: translate(280px, 203px); }
.thb_5 { transform: translate(350px, 219px); }
.thb_4 g { transform: rotate(12deg); }
.thb_5 g { transform: rotate(24deg); }

.thb_7 { transform: translate( 22px, 214px); }
.thb_6 { transform: translate(-44px, 240px); }
.thb_7 g { transform: rotate(-12deg); }
.thb_6 g { transform: rotate(-24deg); }
