/* color theme */

:root {
  color-scheme: light dark;
  --fg-normal-border: #666;
  --bg-normal:        #fff;
  --bg-special:       #bbb;
  --bg-number:        hsl(295,  50%, 80%);
  --bg-letter:        hsl(222, 100%, 84%);
  --bg-home:          hsl(222, 100%, 74%);
}

@media (prefers-color-scheme: dark) { :root {
  --fg-normal-border: #666;
  --bg-normal:        #4d4d4d;
  --bg-special:       #444;
  --bg-number:        hsl(280, 10%, 34%);
  --bg-letter:        hsl(220, 15%, 35%);
  --bg-home:          hsl(225, 30%, 30%);
}}

rect, path {
  /* fill:   var(--bg-normal); */
  stroke: var(--fg-normal-border);
  stroke-width: .5px;
}

use              { fill: var(--bg-normal);  }
use.specialKey,
.specialKey rect,
.specialKey path { fill: var(--bg-special); }
use.numberKey,
.numberKey  rect { fill: var(--bg-number);  }
use.letterKey,
.letterKey  rect { fill: var(--bg-letter);  }
use.homeKey,
.homeKey    rect { fill: var(--bg-home);    }

.row_0 { transform: translateY(-60px); }
.row_1 { transform: translateY(  0px); }
.row_2 { transform: translateY( 60px); }
.row_3 { transform: translateY(120px); }
